# Project folders
verilog-code/work
verilog-code/transcript
IO Module/work
IO Module/transcript
python-code/binary.txt
results.txt
python-code/venv/

# Verilog extensions
*.wlf
*.xlsx
*.vstf
*.cr.mti
*.mpf
*.v.bak
*.

# Python 
__pycache__/
*.py[cod]
*$py.class
.idea