# Project folders
verilog-code/work
verilog-code/transcript
IO Module/work
IO Module/transcript
Euler/Pre-Synthesis/work
Euler/Pre-Synthesis/transcript
python-code/binary.txt
results.txt
python-code/venv/

# Verilog extensions
*.wlf
*.xlsx
*.vstf
*.cr.mti
*.mpf
*.v.bak
*.qdb
*.qpg
*.qtl


# Python 
__pycache__/
*.py[cod]
*$py.class
.idea
.vscode/settings.json
